body {
    margin: 0;
    background-color: #eee;
    color: #fff;
    font-family: 'DM Sans';
    padding: 10em;
}

h3{
    letter-spacing: 3px;
}

.title{
    color: #1f2937;
    text-align: center;
}

.container {
    background-color: #1f2937;
    border: 8px solid #ffffff;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
}

.col{
    text-align: center;
}

.display{
    background-color: #020304;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1em;
    border-radius: 6px;
}

.display span{
    font-size: 60px;
}

button{
    font-family: inherit;
}

button:hover{
    cursor: pointer;
}

.col .btn{
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
    outline: none;
    font-weight: bold;
}

.col .btn:hover{
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.reset-btn{
    background: rgb(201, 50, 50);
    margin: 20px auto 0;
    display: block;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 6px;
    letter-spacing: 2px;
    font-size: 18px;
}

.reset-btn:hover{
    background-color: rgba(108, 19, 19, 0.9);
}

.reset-btn:active{
    background-color: rgba(35, 3, 3, 0.9);
}